import * as S from './{{kebabCase name}}.styles'

export type {{pascalCase name}}Props = {}

export const {{pascalCase name}} = ({}: {{pascalCase name}}Props) => {
  return (
    <S.Wrapper>
      <span>Hey</span>
    </S.Wrapper>
  )
}
