import * as S from './{{kebabCase name}}.styles'

export interface {{pascalCase name}}Props {}

export const {{pascalCase name}} = ({}: {{pascalCase name}}Props) => {
  return (
    <S.Wrapper>
      <h1></h1>
    </S.Wrapper>
  )
}
